.video {
    position: relative;
    width: 500px;
    max-width: 500px;
    height: 90vh;
    scroll-snap-align: start;
    margin: 5vh auto;
    padding-top: 1rem;
    /* box-shadow: 0px 2px 8px 4px red; */
  }

  .video__player {
    object-fit: fill;
    max-width: 100%;
    min-width: 100%;
    height: 90vh;
    border-radius: 0.5rem;
  }


  
  .shortsVideoTop {
    position: absolute;
    min-width: fit-content;
    top: 3%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-left: 2.5%;

  }
  
  .shortsVideoTopIcon {
    display: flex;

  }
  
  .shortsVideoSideIcons {
    position: absolute;
    right: 10px;
    bottom: 20px;
   
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .shortsVideoSideIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
  }
  
  .shortsVideoSideIcon > p {
    color: white;
  }
  
  .shortsVideoSideIcon > .MuiSvgIcon-root {
    padding: 10px;
    font-size: 28px;
  }
  
  .shortsBottom {
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 10px;
  }
  
  .shortsDesc {
    display: flex;
    padding: 10px;
  }
  
  .shortsDesc > p {
    color: white;
  }
  
  .MuiSvgIcon-root {
    cursor: pointer;
    color: white;
  }
  
  .shortDetails {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 1rem;
  }
  
  .shortDetails > p {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-weight: 500;
  }
  
  .shortDetails > button {
    padding: 7px;
    background-color: rgba(177, 177, 177, 0.609);
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .shortDetails > button:hover {
    background-color: rgb(255, 0, 0);
  }
  
  .shortsVideoSideIcon > .MuiSvgIcon-root:hover {
    color: blue;
  }
  
  .shortsDesc > .ticker {
    height: fit-content;
    width: 100%;
    max-width: 250px;
  }
  
  .description {
    color: white;
  }
  
  .shortsVideoSideIcon > .MuiSvgIcon-root:last-child {
    animation: spinTheRecord infinite 5s linear;
    bottom: 0;
    right: 20px;
    font-size: 32px;
  }
  


  @keyframes spinTheRecord {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (pointer:none), (pointer:coarse) {
    .video {
        position: relative;
        width:100%;
        max-width: 100%;
        min-width: 100%;
        height: 100%;
        scroll-snap-align: start;
        padding-top: 0;
        /* box-shadow: 0px 2px 8px 4px red; */
      }  
      .video__player {
        object-fit: fill;
        max-width: 100%;
        min-width: 100%;
        height: auto;
        border-radius: 0.5rem;
      }
      
     .shortsBottom {
        bottom: 5%;
    }

    .shortsVideoSideIcons {
        bottom: 10%;
    }

}