html {
    scroll-snap-type: y mandatory;
  }
  
  .app {
    height: 100vh;
    width: 100vw;
    
    background-color: rgb(29, 28, 28);
    display: grid;
    place-items: center;
  }
  
  .app__videos {
    position: relative;
    height: 100vh;
    /* width: 100vh; */
    max-width: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
  }
  
  .app__videos::-webkit-scrollbar {
    display: none;
  }
  /* for IE Safari*/
  .app__videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .shortsVideoSide{
    width: 1.3rem;
    height: 1.3rem;
    color: aliceblue;
    padding: 1rem;
    background-color: #5e5e5e56;
    border-radius: 50%;
    /* background-color: aliceblue; */
  }