html {
    scroll-snap-type: y mandatory;
  }
  
  .app {
    height: 100vh;
    width: 100vw;
    background-color: rgb(29, 28, 28);
    display: grid;
    place-items: center;
  }
  
  .app__videos {
    position: relative;
    height: 100vh;
    max-width: 100%;
    overflow: scroll;
    scroll-snap-type: y mandatory;
  }
  
  .app__videos::-webkit-scrollbar {
    display: none;
  }
  
  .app__videos {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .shortsVideoSide {
    width: 1.3rem;
    height: 1.3rem;
    color: aliceblue;
    padding: 1rem;
    background-color: #5e5e5e56;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .arrows {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 98%;
    justify-content: space-between;
    background-color: transparent;
    right: 1rem;
  }
  
  @media screen and (max-width: 800px) {
    .arrow {
      display: none;
    }
  }
  
  .arrow {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #504949;
    border-radius: 50%;
    z-index: 100;
    position: relative;
    cursor: pointer;
  }
  
  .arrow:hover {
    color: #504949;
    background-color: #b3a2a2;
  }
  
  .innerArrow {
    color: #ffffff;
    height: 2rem;
    width: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  